/* In your app.css or a separate CSS file */
.bot-card {
  border: 1px solid hsl(0, 100%, 1%);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  background-color: #120101;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: flex;
}

.bot-image {
  flex: 1;
  padding: 10px;
}

.bot-image img {
  max-width: 100%;
  height: auto;
}

.bot-details {
  flex: 3;
  padding: 10px;
  
}

/* Add additional styles as needed */
h1{
  align-items: center;
  text-align: center;
}